/* CSS RESET */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
    display: block;
}

body {
    line-height: 1;
    background-color: black;
    background-image: url('/Images/future.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*MY STYLE */

#start {
    margin: auto;
    height: 20%;
    width: 60%;
    border: 5px solid #18fa10;
    color: #18fa10;
    background-color: black;
    padding: 10px;
    font-size: 70px;
    transform: translate(350px, 300px);
}

#htpButton {
    margin: auto;
    height: 20%;
    width: 60%;
    border: 5px solid #e7d959;
    color: #e7d959;
    background-color: black;
    padding: 10px;
    font-size: 70px;
    transform: translate(350px, 350px);
}

button {
    cursor: pointer;
}

.button:hover {
    background-color: #555555;
    color: white;
}

h1 {
    margin: auto;
    font-size: 80px;
    color: white;
    text-align: center;
    transform: translate(0px, 150px);
    width: 70%;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    margin: auto;
    font-size: 30px;
    color: #10f2fa;
    text-align: center;
    width: 70%;
    font-family: 'Press Start 2P', cursive;
}

@media screen and (max-width: 1000px) {
    body {
        line-height: 1;
        background-color: black;
        background-image: url('/Images/blade.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1 {
        margin: auto;
        font-size: 24px;
        color: white;
        text-align: center;
        transform: translateY(47px);
        font-family: 'Press Start 2P', cursive;
    }
    h2 {
        margin: auto;
        font-size: 25px;
        color: #10f2fa;
        text-align: center;
        transform: translateY(67px);
        font-family: 'Press Start 2P', cursive;
    }
    p {
        color: white;
        line-height: 90px;
        font-family: 'Press Start 2P', cursive;
    }
    #start {
        margin: auto;
        border: 5px solid #73AD21;
        color: #73AD21;
        background-color: black;
        padding: 10px;
        font-size: 20px;
        transform: translate(75px, 500px);
    }
    #htpButton {
        margin: auto;
        height: 20%;
        width: 60%;
        border: 5px solid #e7d959;
        color: #e7d959;
        background-color: black;
        padding: 10px;
        font-size: 20px;
        transform: translate(75px, 530px);
    }
    #instruc {
        text-align: center;
    }
}